.offer-Body {
    width: 100%;
    padding-top: 100px;
}

.offer-headerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202124;
    color: white;
    height: 70px;
    width: 100%;
    gap: 20px;
}

.offer-headerSection-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
}

.offer-bannerSection {
    width: 100%;
    height: 280px;
    background-image: url("https://online.kfc.co.in/static/media/offer_deals_banner.777f20e1.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 50px;
}

.offer-cardsSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.offer-headingSection {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 45px;
    font-weight: bolder;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    letter-spacing: .01px;
    color: red;
    padding-top: 10px;
    padding-bottom: 20px;
}

.offer-blankSpace {
    display: flex;
    width: 80%;
    height: 60px;
    margin-top: 10px;
    background-color: white;
}

.offer-cards-Box {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    padding: 20px 0;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.offer-box1 {
    height: 420px;
    width: 333px;
    background-color: transparent; /* Remove background color */
    background-size: cover; /* Make the background cover the entire box */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image tiling */
    color: white;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 15px;
    border-radius: 30px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .offer-box1-title {
    font-size: 30px;
    text-align: center;
    color:aliceblue
  }
.offer-box1-text { /* description*/
    font-size: 25px;  
    color: white;  
    line-height: 1.5;  
    text-align: center;  
}

.offer-cards-button {
    padding: 10px 30px 10px 30px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 25px;
}

.offer-cards-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.offer-box1-buttonSection {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.offer-box1-link { /* nút xem chi tiết */
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px;
}

.offer-box1-link:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width:1382px) {
    .offer-cards-Box {
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width:425px) {
    .offer-cards-Box {
        width: 100%;
    }

    .offer-headingSection {
        font-size: 20px;
    }

    .offer-box1 {
        height: 350px;
        width: 280px;
    }

    .offer-box1-title {
        font-size: 20px;
    }

    .offer-box1-text {
        font-size: 1px; 
        padding: 6px 15px; 
    }
}
